[submodule "ubuntu/.vim/bundle/vim-coffee-script"]
	path = ubuntu/.vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "ubuntu/.vim/bundle/puppet"]
	path = ubuntu/.vim/bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "ubuntu/.vim/bundle/snippetsEmu"]
	path = ubuntu/.vim/bundle/snippetsEmu
	url = git://github.com/vim-scripts/snippetsEmu.git
[submodule "ubuntu/.vim/bundle/vim-rails"]
	path = ubuntu/.vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "ubuntu/.vim/bundle/greplace.vim"]
	path = ubuntu/.vim/bundle/greplace.vim
	url = git://github.com/skwp/greplace.vim.git
[submodule "ubuntu/.vim/bundle/minibufexpl.vim"]
	path = ubuntu/.vim/bundle/minibufexpl.vim
	url = git://github.com/fholgado/minibufexpl.vim.git
[submodule "ubuntu/.vim/bundle/ack.vim"]
	path = ubuntu/.vim/bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "ubuntu/.vim/bundle/vim-largefile"]
	path = ubuntu/.vim/bundle/vim-largefile
	url = https://github.com/gmunkhbaatarmn/vim-largefile.git
[submodule "ubuntu/.vim/bundle/contrlp.vim"]
	path = ubuntu/.vim/bundle/contrlp.vim
	url = git://github.com/kien/ctrlp.vim
[submodule "ubuntu/.vim/bundle/vim-align"]
	path = ubuntu/.vim/bundle/vim-align
	url = git://github.com/tsaleh/vim-align.git
[submodule "ubuntu/.vim/bundle/lim-localvimrc"]
	path = ubuntu/.vim/bundle/lim-localvimrc
	url = git://github.com/embear/vim-localvimrc.git
